:root {
	--first-bg-color: #ffffff;
	--bg-color: #e5e5e5;
	--secondary-bg-color: #1f2e35;
	--basic-color: #22343d;
	--secondary-text-color: #737373;
	--green-color: #02897a;
}
html {
	height: 100%;
}
body {
	height: 100%;
	line-height: 1;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-weight: 400;
	background-color: var(--first-bg-color);
	color: var(--basic-color);
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
[class*="__container"] {
	max-width: 1150px;
	margin: 0 auto;
	padding: 0 15px;
}
.title {
	max-width: 530px;
	text-align: center;
	margin: 0 auto;
	&__title {
		font-weight: 700;
		font-size: 32px;
		line-height: 48px;
		text-align: center;
		margin-bottom: 16px;
		@media (max-width: 767.98px) {
			font-size: 28px;
		}
		@media (max-width: 479.98px) {
			font-size: 28px;
		}
	}

	&__subtitle {
		font-weight: 500;
		line-height: 162%;
		@media (max-width: 767.98px) {
			font-size: 14px;
		}
		@media (max-width: 479.98px) {
			font-size: 12px;
		}
	}
}
.ibg {
	position: relative;
	padding-bottom: 64%;
	img {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
	background-color: #fff;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 3;
	}
	&__container {
	}
	&__body {
		position: relative;
		display: flex;
		justify-content: space-between;
		min-height: 80px;
		align-items: center;
		@media (max-width: 991px) {
			min-height: 60px;
		}
	}

	&__logo {
		display: flex;
		align-items: center;
		position: relative;
		z-index: 4;
		span {
			margin-left: 16px;
			font-weight: 700;
			font-size: 30px;
			line-height: 93%;
			color: #173a56;
		}
	}
	&__burger {
		display: none;
		@media (max-width: 991px) {
			display: block;
			position: relative;
			width: 30px;
			height: 20px;
			z-index: 4;
			&::before,
			&::after {
				content: "";
				background-color: #fff;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				background-color: black;
				transition: all 0.3s ease;
			}
			&::after {
				top: 0;
			}
			&::before {
				bottom: 0;
			}
			span {
				position: absolute;
				background-color: #000;
				height: 2px;
				left: 0;
				width: 100%;
				top: 9px;
				transition: all 0.3s ease;
				background-color: black;
			}
		}
		&.active {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(45deg);
				bottom: 9px;
			}
			&::after {
				transform: rotate(-45deg);
				top: 9px;
			}
		}
	}

	&__items {
		display: flex;
		align-items: center;
		gap: 24px;
		background-color: #fff;
		@media (max-width: 991px) {
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			transition: all 0.3s ease;
			padding-top: 100px;
			flex-direction: column;
			&.active {
				top: 0;
			}
		}
	}

	&__menu {
	}

	&__list {
		display: flex;
		gap: 39px;
		position: relative;
		z-index: 3;
		@media (max-width: 991px) {
			display: block;
			margin: 0px 0px 20px 0px;
		}
	}

	&__item {
		list-style: none;
		@media (max-width: 991px) {
			margin: 0px 0px 20px 0px;
			padding-bottom: 10px;
		}
	}

	&__link {
		text-decoration: none;
		color: inherit;
		transition: all 0.3s ease;
		&:hover {
			text-decoration: underline;
		}
	}

	&__buttons {
		position: relative;
		z-index: 3;
		display: flex;
		align-items: center;
		column-gap: 24px;
		@media (max-width: 991px) {
			left: 0;
			width: 100%;
			height: 100%;
			transition: all 0.3s ease;
			text-align: center;
			flex-direction: column;
			&.active {
				top: 0;
			}
		}
	}
	&__button {
		display: inline-block;
		padding: 10px 24px;
		text-decoration: none;
		color: inherit;
		font-weight: 600;
		line-height: 150%;
		border: 1px solid #bcd0e5;
		border-radius: 4px;
		transition: all 0.3s ease;
		&:hover {
			background-color: #bcd0e5;
		}
		@media (max-width: 991px) {
			margin-bottom: 15px;
		}
	}
	&__button--green {
		color: #ffffff;
		background-color: var(--green-color);
		&:hover {
			background-color: #086a5f;
		}
	}

	&__input {
		background: url(./img/header/switch.svg) no-repeat top left;
		width: 32px;
		height: 32px;
	}
}
.main {
	flex: 1 1 auto;
	&__work {
		padding-top: 105px;
		@media (max-width: 767.98px) {
			padding-top: 85px;
		}
	}
}
.main-work {
	&__container {
	}

	&__body {
		display: flex;
		justify-content: space-between;
		@media (max-width: 767.98px) {
			flex-direction: column;
		}
	}
}
.body-work-block {
	&__content {
		max-width: 450px;
		@media (max-width: 991.98px) {
			max-width: 400px;
		}
		@media (max-width: 767.98px) {
			max-width: none;
			margin-bottom: 20px;
		}
	}

	&__image {
		max-width: 600px;
		img {
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
}
.content-word-block {
	&__title {
		font-weight: 700;
		font-size: 40px;
		line-height: 150%;
		@media (max-width: 991.98px) {
			font-size: 32px;
		}
		@media (max-width: 767.98px) {
			font-size: 24px;
		}
	}

	&__subtitle {
		font-size: 18px;
		line-height: 156%;
		margin-bottom: 45px;
		@media (max-width: 991.98px) {
			font-size: 18px;
		}
		@media (max-width: 767.98px) {
			font-size: 16px;
		}
		@media (max-width: 479.98px) {
			font-size: 14px;
		}
	}

	&__buttons {
		display: flex;
		column-gap: 30px;
		@media (max-width: 479.98px) {
			flex-direction: column;
		}
	}

	&__button {
		background: #02897a;
		border-radius: 4px;
		display: inline-block;
		padding: 15px 41px;
		text-decoration: none;
		color: inherit;
		text-align: center;
		align-items: center;
		font-weight: 700;
		line-height: 150%;
		color: #fff;
		@media (max-width: 991.98px) {
			font-size: 18px;
		}
		@media (max-width: 767.98px) {
			font-size: 16px;
		}
		@media (max-width: 479.98px) {
			font-size: 14px;
			margin: 0 -30px;
			padding: 15px 15px;
		}
	}

	&__button--play {
		background: none;
		text-decoration: underline;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--green-color);
		padding: 15px 0px 15px 0px;
		img {
			padding-right: 5px;
		}
	}
}
////SECTION-PRODUCT/////
.main {
	&__product {
		background: linear-gradient(179.59deg, #ededed 0.35%, rgba(255, 255, 255, 0.0001) 99.63%);
		padding-top: 115px;
		padding-bottom: 90px;
		@media (max-width: 991.98px) {
			padding-top: 90px;
			padding-bottom: 80px;
		}
		@media (max-width: 767.98px) {
			padding-top: 70px;
			padding-bottom: 60px;
		}
		@media (max-width: 479.98px) {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
}
.product-block {
	&__container {
	}

	&__body {
		padding-top: 66px;
		@media (max-width: 991.98px) {
			padding-top: 50px;
		}
		@media (max-width: 767.98px) {
			padding-top: 40px;
		}
		@media (max-width: 479.98px) {
			padding-top: 30px;
		}
	}

	&__row {
		display: flex;
		column-gap: 46px;
		margin-bottom: 60px;
		@media (max-width: 991.98px) {
			flex-wrap: wrap;
			row-gap: 20px;
			justify-content: center;
		}
		@media (max-width: 479.98px) {
			margin-bottom: 40px;
		}
	}

	&__column {
		flex: 0 1 25%;
		@media (max-width: 991.98px) {
			flex-wrap: wrap;
			flex: 0 1 50%;
			text-align: center;
			max-width: 350px;
		}
		@media (max-width: 767.98px) {
		}
		@media (max-width: 479.98px) {
			flex: 0 1 100%;
			text-align: center;
			max-width: 240px;
		}
	}
	&__btn {
		display: flex;
		justify-content: center;
	}
	&__button {
		background: #02897a;
		border-radius: 4px;
		display: inline-block;
		margin: 0 auto;
		padding: 15px 34px;
		text-decoration: none;
		color: inherit;
		text-align: center;
		align-items: center;
		font-weight: 700;
		line-height: 150%;
		color: #fff;
	}
}
.column-product-block {
	&__item {
	}
	&__icon {
		margin-bottom: 30px;
	}

	&__title {
		margin-bottom: 13px;
		font-weight: 600;
		font-size: 22px;
		line-height: 150%;
	}

	&__text {
		line-height: 162%;
	}
}
////SECTION-MANEGEMENT/////////SECTION-COLABORATIVE/////
.main {
	&__management {
		padding-top: 60px;
		padding-bottom: 100px;
		@media (max-width: 991.98px) {
			padding-top: 80px;
			padding-bottom: 80px;
		}
		@media (max-width: 767.98px) {
			padding-top: 60px;
			padding-bottom: 60px;
		}
		@media (max-width: 479.98px) {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
}
.management-block,
.collaborative-block {
	&__container {
	}

	&__body {
		display: flex;
		column-gap: 84px;
		@media (max-width: 991.98px) {
			column-gap: 50px;
		}
		@media (max-width: 767.98px) {
			flex-direction: column-reverse;
		}
	}

	&__content {
		flex: 0 1 50%;
		max-width: 486px;
		@media (max-width: 767.98px) {
			padding-top: 40px;
			flex: 0 1 100%;
			margin: 0 auto;
		}
	}
	&__img {
		flex: 0 1 50%;
	}
	&__image {
		position: relative;
		padding-bottom: 87%;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
}
.content-management-block,
.content-collaborative-block {
	&__text {
		font-weight: 600;
		line-height: 150%;
		margin-bottom: 8px;
	}

	&__title {
		font-weight: 700;
		font-size: 32px;
		line-height: 150%;
		margin-bottom: 23px;
		@media (max-width: 767.98px) {
			margin-bottom: 16px;
		}
	}

	&__subtitle {
		line-height: 162%;
		margin-bottom: 30px;
		@media (max-width: 767.98px) {
			margin-bottom: 16px;
		}
	}

	&__info {
	}
}
.info-content-block {
	&:not(:last-child) {
		margin: 0px 0px 25px 0px;
	}
	@media (max-width: 767.98px) {
		&:not(:last-child) {
			margin: 0px 0px 16px 0px;
		}
	}
	&__title {
		font-weight: 600;
		line-height: 162%;
		margin-bottom: 12px;
	}

	&__text {
		line-height: 162%;
	}
}
////SECTION-CUSOMERS/////
.main {
	&__customer {
		padding-top: 50px;
		padding-bottom: 50px;
		@media (max-width: 991.98px) {
			padding-top: 40px;
			padding-bottom: 40px;
		}
		@media (max-width: 767.98px) {
			padding-top: 40px;
			padding-bottom: 40px;
		}
		@media (max-width: 479.98px) {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
}
.customer-block {
	&__container {
	}

	&__body {
		display: flex;
		column-gap: 94px;
		@media (max-width: 991.98px) {
			column-gap: 70px;
		}
		@media (max-width: 767.98px) {
			flex-direction: column;
		}
	}

	&__img {
		flex: 0 1 50%;
	}

	&__image {
		position: relative;
		padding-bottom: 87%;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}

	&__content {
		flex: 0 1 50%;
		@media (max-width: 767.98px) {
			padding-top: 40px;
			flex: 0 1 100%;
			margin: 0 auto;
		}
	}
}
.content-customer-block {
	&__info {
	}

	&__quotes {
	}
}
.info-customer-block {
	&__text {
		font-weight: 600;
		line-height: 150%;
		margin-bottom: 8px;
	}

	&__title {
		font-weight: 700;
		font-size: 32px;
		line-height: 150%;
		margin-bottom: 23px;
		@media (max-width: 767.98px) {
			margin-bottom: 16px;
		}
	}

	&__subtitle {
		line-height: 162%;
		margin-bottom: 30px;
		@media (max-width: 767.98px) {
			margin-bottom: 16px;
		}
	}
}
.quotes-customer-block {
	&__quote {
		display: flex;
		column-gap: 30px;
		align-items: center;
		&:not(:last-child) {
			margin: 0px 0px 30px 0px;
		}
	}
}
.quote-customer-block {
	&__icon {
	}

	&__text {
	}
}
////SECTION-COLLABORATIVE/////

.main {
	&__collaborative {
		padding-top: 100px;
		padding-bottom: 100px;
		@media (max-width: 991.98px) {
			padding-top: 80px;
			padding-bottom: 80px;
		}
		@media (max-width: 767.98px) {
			padding-top: 60px;
			padding-bottom: 60px;
		}
		@media (max-width: 479.98px) {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
}
////SECTION-PROCESS/////

.main {
	&__process {
		background: linear-gradient(179.59deg, #ededed 0.35%, rgba(255, 255, 255, 0.0001) 99.63%);
		padding-top: 50px;
		padding-bottom: 50px;
		@media (max-width: 991.98px) {
			padding-top: 40px;
			padding-bottom: 40px;
		}
		@media (max-width: 767.98px) {
			padding-top: 40px;
			padding-bottom: 40px;
		}
		@media (max-width: 479.98px) {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
}
.process-block {
	&__container {
	}

	&__body {
		padding-top: 46px;
	}

	&__informants {
		display: flex;
		flex-wrap: wrap;
	}

	&__informant {
		justify-content: center;
		flex: 0 1 50%;
		align-items: center;
		@media (max-width: 767.98px) {
			flex: 0 1 100%;
			justify-content: space-around;
			&:not(:last-child) {
				margin: 0px 0px 20px 0px;
			}
		}
	}

	&__button {
		padding-top: 48px;
		display: flex;
		justify-content: center;
	}
	&__btn {
		background: #02897a;
		border-radius: 4px;
		display: inline-block;
		margin: 0 auto;
		padding: 15px 3px;
		text-decoration: none;
		color: inherit;
		text-align: center;
		align-items: center;
		font-weight: 700;
		line-height: 150%;
		color: #fff;
		width: 100%;
	}
}
.informant-process-block {
	display: flex;
	&__icon {
		margin-right: 16px;
	}

	&__text {
		background: #ffffff;
		padding: 16px 20px;
		border-radius: 35%;
		box-shadow: 0px 2px 8px rgba(86, 117, 146, 0.1);
		margin-right: 16px;
		font-weight: 500;
		text-align: center;
		line-height: 150%;
	}
}
////SECTION-CONTENTS/////
.main {
	&__contents {
		padding-top: 100px;
		padding-bottom: 100px;
		@media (max-width: 991.98px) {
			padding-top: 80px;
			padding-bottom: 80px;
		}
		@media (max-width: 767.98px) {
			padding-top: 60px;
			padding-bottom: 60px;
		}
		@media (max-width: 479.98px) {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
}
.contents-block {
	&__container {
	}

	&__title {
		margin: 0;
		text-align: start;
	}

	&__body {
		padding-top: 33px;
	}
}
.title {
	&__title {
	}

	&__subtitle {
	}
}
.body-contents-block {
	&__slider {
		position: relative;
	}

	&__owl-carousel {
		display: flex;
		flex-direction: row;
	}

	&__item {
		border: 1px solid #dedede;
		border-radius: 8px;
		max-width: 350px;
		padding: 0px 30px 40px 24px;
		margin: 0 auto;
	}
	&__arrow {
		display: block;
		width: 40px;
		height: 40px;
	}
	&__buttons {
		display: flex;
		column-gap: 30px;
		justify-content: center;
	}
}
.owl-carousel {
}
.item-contents-block {
	&__image {
		margin: 0px -30px -40px -24px;
		margin-bottom: 24px;
	}

	&__info {
		font-weight: 400;
		line-height: 172%;
		margin-bottom: 12px;
		span {
			font-weight: 700;
		}
	}

	&__text {
		font-weight: 700;
		font-size: 24px;
		line-height: 167%;
		@media (max-width: 767.98px) {
			font-size: 18px;
		}
	}
}
.slider {
	&__btn--prev {
	}

	&__btn--next {
	}
}
////SECTION-PRICE/////

.main {
	&__price {
		padding-top: 50px;
		padding-bottom: 50px;
		@media (max-width: 991.98px) {
			padding-top: 40px;
			padding-bottom: 40px;
		}
		@media (max-width: 767.98px) {
			padding-top: 40px;
			padding-bottom: 40px;
		}
		@media (max-width: 479.98px) {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
}
.price-block {
	&__container {
	}

	&__title {
	}

	&__body {
		padding-top: 50px;
	}

	&__row {
		display: flex;
		column-gap: 72px;
		@media (max-width: 991.98px) {
			column-gap: 40px;
		}
		@media (max-width: 767.98px) {
			flex-wrap: wrap;
		}
	}

	&__column {
		flex: 0 1 33.3333%;
		@media (max-width: 767.98px) {
			flex: 0 1 100%;
			max-width: 500px;
			margin: 0 auto;
			margin-bottom: 15px;
		}
		@media (max-width: 479.98px) {
			max-width: 320px;
		}
	}

	&__item {
		padding: 24px 20px 32px 20px;
		transition: all 0.9 ease;
		&:hover {
			transform: scale(1.03);
		}
	}
}
.item-price-block {
	background: #ffffff;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	text-align: center;
	transition: transform 0.3s ease;
	&:hover {
		transform: scale(1.03);
	}
	&--green {
		background: #02897a;
		box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
		border-radius: 8px;
		color: #ffffff;
	}
	&__name {
		font-weight: 700;
		font-size: 24px;
		line-height: 167%;
		margin-bottom: 8px;
	}

	&__subtitle {
		line-height: 250%;
		margin-bottom: 16px;
	}

	&__price {
		font-weight: 700;
		font-size: 76px;
		line-height: 132%;
		letter-spacing: 0.2px;
		color: var(--green-color);
		margin-bottom: 16px;
		span {
			font-weight: 400;
			font-size: 16px;
			line-height: 119%;
			color: #afafaf;
			letter-spacing: 0.1px;
		}
		@media (max-width: 991.98px) {
			font-size: 64px;
			span {
				font-size: 12px;
			}
		}
	}
	&__price--green {
		color: #ffffff;
	}

	&__info {
		margin-bottom: 38px;
	}

	&__button {
		font-family: "Montserrat";
		background: #02897a;
		border-radius: 8px;
		display: inline-block;
		padding: 11px 19px;
		text-align: center;
		font-weight: 500;
		font-size: 18px;
		line-height: 122%;
		color: #ffffff;
		text-decoration: none;
	}
	&__button--green {
		background: #ffffff;
		color: var(--green-color);
	}
}
.info-item-block {
	&__item {
		font-family: "Inter";
		margin-bottom: 16px;
		letter-spacing: 0.2px;
		line-height: 138%;
		font-weight: 500;
	}
}
////SECTION-REVIEWS/////
.main {
	&__reviews {
		padding-top: 100px;
		padding-bottom: 100px;
		@media (max-width: 991.98px) {
			padding-top: 80px;
			padding-bottom: 80px;
		}
		@media (max-width: 767.98px) {
			padding-top: 60px;
			padding-bottom: 60px;
		}
		@media (max-width: 479.98px) {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
}
.reviews-block {
	&__container {
	}

	&__title {
	}

	&__body {
		padding-top: 50px;
	}

	&__row {
		display: flex;
		column-gap: 64px;
		@media (max-width: 991.98px) {
			column-gap: 40px;
		}
		@media (max-width: 767.98px) {
			flex-wrap: wrap;
		}
	}

	&__column {
		flex: 0 1 33.333%;
		@media (max-width: 767.98px) {
			flex: 0 1 100%;
			max-width: 500px;
			margin: 0 auto;
			margin-bottom: 15px;
		}
		@media (max-width: 479.98px) {
			max-width: 320px;
		}
	}

	&__item {
	}
}
.item-reviews-block {
	background: #ffffff;
	border: 1px solid #dedede;
	border-radius: 5px;
	padding: 28px;
	&__rate {
		margin-bottom: 16px;
	}

	&__text {
		letter-spacing: 0.2px;
		line-height: 175%;
		color: var(--secondary-text-color);
		margin-bottom: 16px;
	}

	&__person {
		display: flex;
		column-gap: 14px;
		align-items: center;
	}
}
.person-reviews-block {
	&__icon {
	}

	&__info {
	}

	&__name {
		font-weight: 600;
		font-size: 16px;
		letter-spacing: 0.2px;
		color: var(--green-color);
	}

	&__position {
		font-weight: 500;
		font-size: 14px;
		line-height: 171%;
		color: #252b42;
	}
}
////SECTION-PLATE/////

.main {
	&__plate {
		padding-top: 50px;
		padding-bottom: 50px;
		@media (max-width: 991.98px) {
			padding-top: 40px;
			padding-bottom: 40px;
		}
		@media (max-width: 767.98px) {
			padding-top: 40px;
			padding-bottom: 40px;
		}
		@media (max-width: 479.98px) {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
}
.plate-block {
	&__container {
	}

	&__body {
		display: flex;
		justify-content: space-between;
		max-width: 968px;
		background: #02897a;
		border-radius: 32px;
		margin: 0 auto;
		@media (max-width: 767.98px) {
			flex-wrap: wrap;
		}
	}

	&__content {
		flex: 0 1 50%;
		padding: 49px 15px 15px 51px;
		@media (max-width: 767.98px) {
			flex: 0 1 100%;
			padding: 17px 22px;
		}
	}

	&__text {
		font-weight: 600;
		font-size: 32px;
		line-height: 151.4%;
		color: #ffffff;
		margin-bottom: 50px;
	}

	&__button {
		display: inline-block;
		padding: 13px 34px;
		background: #ffffff;
		border-radius: 8px;
		text-align: center;
		font-weight: 600;
		font-size: 20px;
		color: var(--green-color);
		line-height: 150%;
		text-decoration: none;
		@media (max-width: 479.98px) {
			width: 100%;
		}
	}

	&__img {
		flex: 0 1 50%;
		@media (max-width: 767.98px) {
			flex: 0 1 100%;
			max-width: 350px;
			margin: 0 auto;
		}
	}
	&__image {
		position: relative;
		padding-bottom: 94%;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
}
// FOOTER
.footer {
	padding-top: 100px;
	padding-bottom: 46px;
	@media (max-width: 991.98px) {
		padding-top: 80px;
		padding-bottom: 40px;
	}
	@media (max-width: 767.98px) {
		padding-top: 60px;
		padding-bottom: 35px;
	}
	@media (max-width: 479.98px) {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	&__content {
	}

	&__copy {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 10px;
		line-height: 188%;
	}
}
.content-footer {
	&__container {
		@media (max-width: 991.98px) {
			max-width: 991px;
			margin: 0 auto;
		}
	}

	&__body {
	}

	&__row {
		display: flex;
		justify-content: space-between;
		@media (max-width: 991.98px) {
			flex-wrap: wrap;
			justify-content: start;
		}
	}

	&__column {
		@media (max-width: 991.98px) {
			flex: 0 1 50%;
			display: flex;
			justify-content: center;
			margin-bottom: 10px;
		}
		@media (max-width: 767.98px) {
			flex: 0 1 100%;
			margin-bottom: 32px;
		}
	}
	&__column--form {
		max-width: 280px;
		@media (max-width: 991.98px) {
			margin: 0 auto;
		}
	}
	&__item {
	}
}
.item-content-footer {
	&__logo {
	}

	&__icons {
		display: flex;
		column-gap: 16px;
		padding-top: 24px;
	}

	&__icon {
	}

	&__title {
		font-weight: 500;
		font-size: 20px;
		line-height: 150%;
		margin-bottom: 8px;
	}

	&__list {
	}

	&__link {
		line-height: 219%;
		&:not(:last-child) {
			margin: 0px 0px 4px 0px;
		}
	}

	&__text {
		font-weight: 500;
		font-size: 20px;
		line-height: 150%;
		margin-bottom: 34px;
	}

	&__form {
		@media (max-width: 767.98px) {
			display: flex;
			flex-direction: column;
		}
	}

	&__input {
		width: 280px;
		height: 40px;
		border: none;
		filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
		display: block;
		margin-bottom: 21px;
	}

	&__button {
		background: #02897a;
		border-radius: 4px;
		padding: 8px 15px;
		font-weight: 700;
		font-size: 16px;
		line-height: 150%;
		text-align: center;
		color: #ffffff;
		@media (max-width: 767.98px) {
			justify-content: center;
		}
	}
}
